page-profil {
    ion-content.background {
  background: url('../assets/bg1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
.item{
  background: rgb(153,151,154);
  color: #fff;
}

}
