page-profil {
  ion-content.background {
    background: url('../assets/bg1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .scroll-content{
      display: flex;
      /* justify-content: center; */
      align-items: center;
      margin-bottom: 300px
  }
  .item{
  background: rgba(0,0,0,.6);
  color: #fff;
  font-family: "Times New Roman"
  }
  ion-label.label{
    color: #fff !important;
  }
}
