page-home {
  background: url('../assets/bg1.jpg');
  background-size: contain;
  ion-label.label{
    color: #fff !important;
  }
  .logo{
  float: left;
    width: 150px;
    height: 150px;
    background: url(../assets/inovia.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    

}
}
ion-content.logo {
  background: url('../assets/inovia.png');
  background-size: contain;
}

.toolbar-background{
  background: transparent;
}

.signup_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: transparent;
}

.input{
  background: rgb(153,151,154);
  color: #fff; 
}

.item{
  background: rgb(153,151,154);
  color: #fff;
}
.logo{
  float: center;
  display:flex;
    width: 150px;
    height: 150px;
    background: url(../assets/inovia.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    

}
