page-home {
  background: url('../assets/bg1.jpg');
  background-size: contain;
  ion-label.label{
    color: #fff !important;
 
 .scroll-content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: -5px;
}

}
  }
  .logo{
  float: left;
    width: 150px;
    height: 150px;
    background: url(../assets/inovia.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

// .scroll-content{
//     display: flex;
//     /* justify-content: center; */
//     align-items: center;
//     margin-top: -5px;
// }
ion-content.logo {
  background: url('../assets/inovia.png');
  background-size: contain;
}

.toolbar-background{
  background: transparent;
}

.signup_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: transparent;
}

.input{
  background: rgba(0,0,0,.0);
  color: #fff; 
  font-family: "Times New Roman"
}
.wrap{
    display: flex;
    flex-direction: column;
}
ion-card{
  background: rgba(0,0,0,.5) !important;
  border-radius: 10px !important;
}

.item{
  background: rgba(0,0,0,.6);
  color: #fff;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Times New Roman"
  
}

.logo{
  float: center;
  display:flex;
    width: 150px;
    height: 150px;
    background: url(../assets/inovia.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    

}
