page-page2 {
  ion-content.background {
    background: url('../assets/bg1.jpg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .toolbar-content{
    display: flex;
    justify-content: space-between;
  }

  .icon{
    font-size: 4em;
    margin-right: 2rem;
    
    color: rgb(72,138,255);
  }

  .icon.icon-ios.ion-ios-contact{
    margin-left: auto;
  }
}
